
/* my profile page */

.menuBar{
    width: 20%;
    padding: 1rem;
}

.menuBar h1{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container{ height: 70vh; }

.container h2{ font-size: 1.6rem; margin: 0.5rem; }

.container label{ display:flex; flex-direction:column; margin:1rem; }
.container input{ max-width:25rem; }
.Modify { padding: 0; margin: 1rem 0 0 0; }
